.hover-dropdown .dropdown-menu {
  display: none; /* Oculta el menú por defecto */
  background-color: #a7989a;
}

.hover-dropdown:hover .dropdown-menu {
  display: block; /* Muestra el menú cuando se pasa el mouse */
}

.hover-dropdown .dropdown-menu:hover {
  display: block; /* Mantiene el menú visible mientras el mouse está sobre el menú */
}
.navbar {
  background-color: rgb(130, 119, 120);
}
.navbar a {
  color: white;

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nav-link:hover {
  color: rgb(83, 77, 77); /* Color al hacer hover */
}
.nav-link.active {
  color: blue; /* Color para el enlace activo */
}
