.hover-dropdown .dropdown-menu {
  display: none; /* Oculta el menú por defecto */
}

.hover-dropdown:hover .dropdown-menu {
  display: block; /* Muestra el menú cuando se pasa el mouse */
}

.hover-dropdown .dropdown-menu:hover {
  display: block; /* Mantiene el menú visible mientras el mouse está sobre el menú */
}
.navbar {
  background-color: rgb(130, 119, 120);
}
.navbar a {
  color: white;
}
