.slider-container {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.slider-testimonios {
  max-height: 50%;
}
.slick-slide {
  height: 100%;
}
.slick-slide div {
  height: 100%;
}
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
}
.testimonio {
  display: grid !important;
  grid-template-columns: 50% 1fr !important;
  grid-template-rows: 70% 10% 20% !important;
  grid-template-areas:
    "foto comentario"
    "foto usuario"
    "foto valoracion" !important;
  color: white;
  background-color: rgb(130, 119, 120);
}
.testimonio p {
  grid-area: comentario !important;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonio img {
  grid-area: foto;
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: auto;
}
.testimonio h6 {
  grid-area: usuario;
  margin: 0;
  padding: 0 20px;
}
.testimonio div {
  grid-area: valoracion !important;
  padding: 0 20px;
}
.slider-container button {
  background-color: rgb(72, 58, 58);
  border: none;
  color: white;
  border-radius: 50px;
  width: 150px;
  height: 40px;
}
